.header {
    margin-left: 210px;
    margin-top: 10px;
    margin-right: 15px;
    background-color: white;
    border-radius: 15px;
    transition: margin-left 0.3s ease; /* Added transition for smooth effect */
}


.a-highlight{
    text-decoration:none;
    color: #FF9933;
    transition: background-color 0.3s, color 0.3s;

}

.a-highlight:hover {
	text-decoration: none;
    background-color: orange;
    color: black;
}

.textofcopyrights{
	margin-top: 290px;
	margin-left: 210px;
    font-size: 10px;
	color: gray;
}

html {
    scroll-behavior: smooth;
}

html ::-webkit-scrollbar {
    width: 12px;
    background-color: #111d2c;
    cursor: pointer;
}

html ::-webkit-scrollbar-thumb {
    background: linear-gradient(160deg, #FFAA33, #FFAA33);
    width: 10px;
    border-radius: 5px;
}

html ::-webkit-scrollbar-thumb:hover {
    background: #f26707  ;
    cursor: pointer;
}


.custom-select option {
    font-size: 17px;   
    line-height: 2;   
}

.bi-headings{
    font-size: 16px;
}

.bi-box-1{
    padding-top:5px;
    padding-bottom: 15px;
    width: 350px;
}

.bi-box-in{
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);   
}
